[Desktop Entry]
Type=Application
Version=1.0
Name=Install SelahOS
GenericName=SelahOS Installer
Comment=Install SelahOS to your computer
Exec=sudo -E /usr/local/bin/selah-setup
Icon=/usr/share/icons/selahos/apps/128/selah-setup.svg
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;install;selahos;
