[Desktop Entry]
Type=Application
Name=Install SelahOS
GenericName=SelahOS Installer
Comment=Install SelahOS to your computer
Exec=sudo -E /usr/local/bin/selah-setup
Icon=/usr/share/icons/selahos/apps/128/selah-setup.svg
Terminal=false
Categories=Qt;System;
Keywords=installer;install;selahos;setup;
X-KDE-StartupNotify=true
X-KDE-PluginInfo-Name=selah-setup
